body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #C6FFDD;
  background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
  background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Estilos para el nombre de usuario */
#usuario {
  display: inline-block;
  margin-right: 120px;
}
/* Estilos para el marco central */
#centerFrame {
  flex: 1;
  padding: 20px;
  background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #FFEFBA);
  border: 1px solid #701d1d;
  height: 400px;
  border-radius: 5px;
  margin-left: 20px;
  margin-top: 20px;
  clear: both;

}

/* Estilos para los corazones en el contenedor de vidas */
#vidas {
  font-size: 24px;
  color: red;
}
#footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

#juego {
  text-align: center;
}

#juego h2 {
  color: #000000;
  margin-bottom: 20px;
}

#juego button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}

#juego button:hover {
  background-color: #0056b3;
}

.vidas-container {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  color: #333;
}

.corazon {
  width: 24px;
  height: auto;
  margin-right: 5px;
}