.boton.cuatro span {
	transition: .4s ease-in-out all;
	position: absolute;
	left: 40%;
}

.boton.cuatro .icono {
	display: flex;
	align-items: center;
	position: absolute;
	z-index: 2;
	left: -40px;
	transition: .3s ease-in-out all;
	opacity: 0;
}

.boton.cuatro svg {
	color: #fff;
	width: 35px;
	height: 35px;
}

.boton.cuatro:hover {
	background: #ff8a05;
	background-image: url("img/mat.jpg");
	height: 85px;
	width: 375x;

}

.boton.cuatro:hover .icono {
	left: calc(100% - 50px);
	opacity: 1;
}

.boton.cuatro:hover span {
	left: 20px;
}